{% assign postCount = site.posts | size %}
{% assign postsCovered = site.paginate | plus:offset %}
{% if postsCovered < postCount %}
<!-- begin pagination -->
<div class="container animate">
  <div class="pagination">
    <button class="load-more-posts button button--primary">More Posts <svg class="icon-arrow" width="14" height="14" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6z"/></svg></button>
  </div>
</div>
<!-- end pagination -->
{% endif %}

<script>
  var base_url = "",
    pagination_next_url = base_url + '/blog/page2',
    pagination_next_page_number = '{{ paginator.next_page }}',
    pagination_available_pages_number = '{{ paginator.total_pages }}';
</script>