{% if site.data.settings.logos.enable == true %}
<!-- begin logos -->
<section class="section logos animate">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="section__info">
          <h2 class="section__small__title">{{ site.data.settings.logos.logos__title }}</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="logos__marquee">
    <div class="logos__track">
      {% for logo in site.data.settings.logo__items %}
      <div class="logos__item">
        <img src="{{ site.baseurl }}{{ logo.image }}" alt="{{ logo.name }}" class="logos__image" width="300" height="150">
      </div>
      {% endfor %}
      {% for logo in site.data.settings.logo__items %}
      <div class="logos__item">
        <img src="{{ site.baseurl }}{{ logo.image }}" alt="{{ logo.name }}" class="logos__image" width="300" height="150">
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- end logos -->
{% endif %}