{% if site.data.settings.hero.enable == true %}
<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">

      <div class="col col-6 col-d-12">
        <div class="hero__left">
          {% if site.data.settings.author.author__avatar %}
         <!--- <div class="hero__avatar">
            <img class="lazy" data-src="{{ site.baseurl }}{{ site.data.settings.author.author__avatar }}" alt="{{ site.data.settings.author.author__name }}">
          </div> -->
          {% endif %}
          <h1 class="hero__title">{{ site.data.settings.hero.hero__title }}</h1>
          <p class="hero__description">I’m an SEO Consultant with a proven track record in delivering organic growth to mainly ASX listed and fast-growing businesses over the past 15 years.</p>
          <p class="hero__description">I do this by working closely with product, marketing, content, development & UX teams to provide expert, transparent direction and support on all things SEO.</p>
          <p class="hero__description">I also offer project work to assist with once off requirements such as site migrations, auditing, helping with traffic loss and as an expert witness.</p>
          <p class="hero__description"><a href="https://calendly.com/gloyns/discovery-call">Schedule a call</a> or get in touch if you'd like to chat.</p>

          <div class="form__group">
            <button class="button button--secondary" type="submit">Get in touch</button> <button class="button button--primary" type="submit">Schedule a call</button>
          </div>
        </div>
      </div>

      <div class="col col-5 col-d-12">
        <div class="hero__right">
          <div class="hero__image">
            <img class="lazy" data-src="{{ site.baseurl }}{{ site.data.settings.hero.hero__image }}" alt="{{site.data.settings.author.author__name}}'s Picture">
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- end hero -->
{% endif %}