{% if site.data.settings.hero.enable == true %}
<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">

      <div class="col col-6 col-d-12">
        <div class="hero__left">
          {% if site.data.settings.author.author__avatar %}
         <!--- <div class="hero__avatar">
            <img class="lazy" data-src="{{ site.baseurl }}{{ site.data.settings.author.author__avatar }}" alt="{{ site.data.settings.author.author__name }}">
          </div> -->
          {% endif %}
          <h1 class="hero__title">{{ site.data.settings.hero.hero__title }}</h1>
          <p class="hero__description">I'm a seasoned SEO Consultant with a proven track record in driving organic growth for ASX-listed companies and fast-growing businesses.</p>
          <p class="hero__description">Collaboration is key to my approach, working closely with product, marketing, content, development, and UX teams to deliver expert, transparent guidance on user focused SEO.</p>
          <p class="hero__description">Beyond ongoing support, my expertise extends to project-based work, including aquisition advice, site migrations, auditing and traffic recovery. I also advise on emerging areas such as AI SEO and LLM visibility - helping businesses prepare for how generative AI is reshaping search and user discovery.</p>

          <div class="form__group">
            <button class="button button--secondary" type="submit"><a href="/contact/">Get in touch</a></button> <button class="button button--primary" type="submit"><a href="https://calendly.com/gloyns/discovery-call">Schedule a call</a></button>
          </div>
        </div>
      </div>

      <div class="col col-5 col-d-12">
        <div class="hero__right">
          <div class="hero__image">
            <img class="lazy" data-src="{{ site.baseurl }}{{ site.data.settings.hero.hero__image }}" alt="{{site.data.settings.author.author__name}}'s Picture">
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- end hero -->
{% endif %}