<!DOCTYPE html>
<html lang="en">

{% include head.html %}
<link rel="preload" fetchpriority="high" as="image" href="/images/andrew-gloyns.webp" type="image/webp">

<body>

  {% if site.data.settings.google-analytics %}
    {% include google-analytics.html %}
  {% endif %}

  {% include header.html %}

  <!-- begin content -->
  <main class="content" aria-label="Content">
    {{ content }}
  </main>
  
  <!-- end content -->


  <div class="top" title="Top"><i class="ion ion-ios-arrow-up"></i></div>

  {% include footer.html %}

  <script src="{{ site.baseurl }}/js/scripts.js"></script>
  <script src="{{ site.baseurl }}/js/common.js"></script>
  <script src="{{ site.baseurl }}/js/lite-yt-embed.js"></script>
  <script src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
  <script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
 <script>
  document.addEventListener('DOMContentLoaded', function() {
    const script = document.createElement('script');
    script.src = 'https://unpkg.com/bluesky-comments@latest/dist/bluesky-comments.umd.js';
    script.onload = function () {
      initBlueskyComments('bluesky-comments', { author: 'gloyns.com' });
    };
    document.body.appendChild(script);
  });
</script>

</body>

</html>