<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  {% if site.data.settings.google-analytics %}
    {% include google-analytics.html %}
  {% endif %}

  {% include header.html %}

  <!-- begin content -->
  <main class="content" aria-label="Content">
    {{ content }}
  </main>
  
  <!-- end content -->


  <div class="top" title="Top"><i class="ion ion-ios-arrow-up"></i></div>

  {% include footer.html %}

  <script src="{{ site.baseurl }}/js/scripts.js"></script>
  <script src="{{ site.baseurl }}/js/common.js"></script>

  <script>
  document.addEventListener('click', function(e) {
    var link = e.target.closest('a[href*="calendly.com/gloyns"]');
    if (link && typeof Calendly !== 'undefined') {
      e.preventDefault();
      Calendly.initPopupWidget({ url: link.href, branding: false });
    }
  });
  </script>

  <script>
  if (window.location.pathname.includes('/blog/')) {
    var s1 = document.createElement('script');
    s1.src = 'https://unpkg.com/react@18/umd/react.production.min.js';
    s1.onload = function () {
      var s2 = document.createElement('script');
      s2.src = 'https://unpkg.com/react-dom@18/umd/react-dom.production.min.js';
      s2.onload = function () {
        var s3 = document.createElement('script');
        s3.src = 'https://unpkg.com/bluesky-comments@latest/dist/bluesky-comments.umd.js';
        s3.onload = function () {
          initBlueskyComments('bluesky-comments', { author: 'gloyns.com' });
        };
        document.body.appendChild(s3);
      };
      document.body.appendChild(s2);
    };
    document.body.appendChild(s1);
  }
</script>

</body>

</html>